.profile-img-cropper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.container {
    background: #d6deeb;
    font-family: arial;
    border: 2px solid red;
}
