.profile-img-cropper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.container {
    font-family: arial;
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    position: relative;
}

.child {
    width: 650px;
    height: 550px;
    border: 2px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}